<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Santa Maria | BAR</title>
    <link rel="stylesheet" href="/css/styles.css"> 
  </head>
  <body>

    <!-- HEADER -->
    <header class="header">
      <h1>Nuestro Restó</h1>
      <h2>Carta</h2>
    </header>

    <!-- HOME -->
    <main class="home">

          <!-- ASIDE -->
    <aside class="home__aside">

          <!-- ASIDE NAV -->
      <nav class="home__aside-nav">
        <ul type="none">
          <li><a href="#entradas">Entradas</a></li>
          <li><a href="">Platos Principales</a></li>
          <li><a href="">Ensaladas</a></li>
          <li><a href="">Raws</a></li>
          <li><a href="">Postres</a></li>
          <li><a href="">Desayunos y Meriendas</a></li>
          <li><a href="">Bebidas</a></li>
          <li><a href="">Smoothies</a></li>
          <li><a href="">Té y Café</a></li>
          <li><a href="">Vinos</a></li>
          <li><a href="">Cervezas</a></li>
        </ul>
      </nav>
    </aside>

          <!-- ENTRADAS -->
      <section class="home__entradas">
        <h3>Entradas</h3>      

        <!-- ENTRADAS PLATOS -->
        <div class="home__entradas-platos">

              <!-- PLATOS CON IMAGEN  -->
          <section> 
            <img src="/img/foto-entradas.jpg" alt="Foto - Plato de Entrada" />
            <div>
              <article>
                <p><b>Muzzarella Sticks</b></p>
                <p>Bastones de muzzarella rebozados</p>
              </article>
              <article>
                <p><b>Jalapeños rellenos</b></p>
                <p>Jalapeños rellenos de langostinos y queso Cheddar con panceta.</p>
              </article>
              <article>
                <p><b>Ración de Rabas</b></p>
                <p>220 gr. de chicharrón de calamar frito con alioli</p>
              </article>
           </div>
              <!-- PLATOS SIN IMAGEN -->
        </section>
          <article>
            <p><b>Ración de papas fritas con Cheddar y verdeo</b></p>
          </article>
          <article>
            <p><b>Chicken Wings</b></p>
            <p>Alitas de pollo empanada y frita con salsa BBQ</p>
          </article>
          <article>
            <p><b>Croquetas de hongos</b></p>
            <p>Croquetas elaboradas a base de hongos disecados.</p>
          </article>
          <article>
            <p><b>Langostinos en cous cous</b></p>
            <p>Langostinos a la plancha con frutos secos, tomates cherry, albahaca y cous cous</p>
          </article>
          <article>
            <p><b>Chipirones a la plancha</b></p>
            <p>Con chutney de mango y sandía a la plancha</p>
          </article>
          <article>
            <p><b>Nachos con refrito</b></p>
            <p>Nachos salteados con porotos negros, chorizo colorado y salsa BBQ</p>
          </article>
          <article>
            <p><b>Tapa de morcilla</b></p>
            <p>Pan casero de campo, morcilla, verdeo y queso brie.</p>
          </article>
          <article>
            <p><b>Tapa de campo</b></p>
            <p>Morcilla, papa, chutney de manzana y crema de eneldo</p>
          </article>
          <article>
            <p><b>Tapa de mollejas</b></p>
            <p>Mollejas con mango, ananá, jengibre, chiles y pochoclo.</p>
          </article>
        </div>
        <a href="#">Volver arriba</a>
      </section>
    </main>

    <!-- FOOTER -->
    <footer class="footer">

        <!-- FOOTER LOGO -->
      <section class="footer-logo">
        <img src="/img/logo-web.png" alt="Logo - Santa Maria BAR" />
      </section>

        <!-- FOOTER NAV -->
      <section class="footer-nav">
        <h4>Contacto</h4>
        <ul type="none">
          <li><a href=""></a>facebook</li>
          <li><a href=""></a>twitter</li>
          <li><a href=""></a>instagram</li>
        </ul>
      </section>
    </footer>
  </body>
</html>
